{% extends 'base.html' %}

{% block title %} Block {{ block['Height'] }} {% endblock %}

{% block content%}

<div class="page-container block-details-page">
  <h1 class="page-title">Block #{{ block['Height']}}</h1>
  <section class="card data-card block-summary-card">
    <header class="card-header">
      <h2 class="block-hash font-mono">{{ block['BlockHeader']['blockHash'] }}</h2>
    </header>
    <div class="card-body">
      <dl class="definition-list grid"> 
        <div class="definition-item">
          <dt>Previous Block Hash</dt>
          <dd class="font-mono">
            {% if (block['Height']) == 0 %}
              {{ block['BlockHeader']['prevBlockHash'] }} <span class="chip chip-info">GENESIS BLOCK</span>
            {% else %}
              <a href="{{ url_for('block', blockHeader=block['BlockHeader']['prevBlockHash']) }}">
                {{ block['BlockHeader']['prevBlockHash'] }}
              </a>
            {% endif %}
          </dd>
        </div>
        <div class="definition-item">
          <dt>Transactions</dt>
          <dd>{{ block['Txcount'] }}</dd>
        </div>
        <div class="definition-item">
          <dt>Size</dt>
          <dd>{{ block['Blocksize'] }} bytes</dd>
        </div>
        <div class="definition-item">
          <dt>Merkle Root</dt>
          <dd class="font-mono">{{ block['BlockHeader']['merkleRoot'] }}</dd>
        </div>
        <div class="definition-item">
          <dt>Target (Bits)</dt>
          <dd class="font-mono">{{ block['BlockHeader']['bits'] }}</dd>
        </div>
        <div class="definition-item">
          <dt>Nonce</dt>
          <dd class="font-mono">{{ block['BlockHeader']['nonce'] }}</dd>
        </div>
        <div class="definition-item">
          <dt>Timestamp</dt>
          <dd class="font-mono" id="timestampBlocks" data-timestamp="{{ block['BlockHeader']['timestamp'] }}"></dd>
        </div>
      </dl>
    </div>
  </section>

  <h2 class="section-title">Transactions</h2>

  {% if block['Txs'] %}
    {% for blk_tx in block['Txs'] %}
    <section class="card data-card transaction-details-card">
      <header class="card-header transaction-id-header">
        <h3 class="transaction-id font-mono">
          <a href="{{ url_for('transactions', txid=blk_tx['TxId']) }}">{{ blk_tx['TxId'] }}</a>
        </h3>
      </header>
      <div class="card-body transaction-io">
          <div class="tx-inputs">
            <h4>Inputs</h4>
            <ul class="tx-io-list">
              {% for tx_in in blk_tx['tx_ins'] %}
                <li>
                  {% if tx_in['prev_tx']=='0000000000000000000000000000000000000000000000000000000000000000' %}
                    <span class="coinbase-input"><span class="io-index">#{{ loop.index0 }}</span> Coinbase</span>
                  {% else %}
                    <span class="input-item font-mono">
                        <span class="io-index">#{{ loop.index0 }}</span> From: <a href="{{ url_for('transactions', txid=tx_in['prev_tx']) }}" title="{{ tx_in['prev_tx'] }}">{{ tx_in['prev_tx'][:12]}}...</a>
                    </span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="tx-outputs">
            <h4>Outputs</h4>
            <ul class="tx-io-list">
              {% for tx_out in blk_tx['tx_outs'] %}
                {% set h160hash = bytes.fromhex(tx_out['script_pubkey']['cmds'][2]) %}
                {% set newAddr = main_prefix + h160hash %}
                {% set checksum = sha256(sha256(newAddr).digest()).digest()[:4] %}
                {% set newAddr = newAddr + checksum %}
                {% set pubAddress = encode_base58(newAddr) %}
                {% if (tx_out['amount']%100000000) == 0 %}
                  {% set amount = (tx_out['amount']/100000000)| int %}
                {% else %}
                  {% set amount = tx_out['amount']/100000000 %}
                {% endif %}
                <li>
                  <a href="{{ url_for('address', publicAddress = pubAddress) }}" class="output-link">
                    <span class="io-index">#{{ loop.index0 }}</span>
                    <span class="output-address font-mono">{{ pubAddress }}</span>
                    <span class="output-amount">{{ amount }} NOC</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
      </div> 
    </section>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const timestampElement = document.getElementById('timestampBlocks');
        const timestamp = parseInt(timestampElement.getAttribute('data-timestamp'), 10);
        const date = new Date(timestamp * 1000);
        const formattedDate = date.toLocaleString('en-EN', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit',
        });
    
        timestampElement.textContent = formattedDate;
      });
    </script>
    {% endfor %}
  {% else %}
      <p class="no-data-message">No transactions found in this block</p>
  {% endif %}

</div>

{% endblock %}
